body {
  background-color: #8a2be2;
}

h3 {
  color: white;
  text-decoration: underline;
  text-align: center;
}

#town,
#latlng,
#temp,
#pressure,
#humidity,
#wind,
#status {
  color: white;
  text-align: center;
}

#image {
  text-align: center;
}
